<div class="dashboard">
    <div class="puntos">
        <h2>{{puntaje.equipo1}}</h2>
    </div>
    <div class="pregunta">
        {{selectedQuestion.enunciacion}}
        <div class="contenedor-respuestas">
            <div class="respuesta" *ngFor="let respuesta of selectedQuestion.respuestas">
                <app-answer [respuesta]="respuesta"></app-answer>
            </div>
        </div>
    </div>
    <div class="puntos">
        <h2>{{puntaje.equipo2}}</h2>
    </div>

</div>

<div style="margin: auto 30px">
    <div  class="strike"><span *ngIf="strikeCount >= 1">X</span></div>
    <div  class="strike"><span *ngIf="strikeCount >= 2">X</span></div>
    <div  class="strike"><span *ngIf="strikeCount >= 3">X</span></div>
</div>

<button (click)="getNextQuestion()"> Next Question</button>
<button (click)="resetGame()"> Reset</button>
<button (click)="incrementStrikeCount()"> Increment Strike</button>
<button (click)="resetStrikeCount()"> Reset Strike</button>
