<div class="dashboard">
    <div class="puntos">
        <h2>{{puntaje.equipo1}}</h2>
    </div>
    <div class="pregunta">
        {{selectedQuestion.enunciacion}}
        <div class="contenedor-respuestas">
            <div class="respuesta" *ngFor="let respuesta of selectedQuestion.respuestas">
                <app-answer [respuesta]="respuesta"></app-answer>
            </div>
        </div>
    </div>
    <div class="puntos">
        <h2>{{puntaje.equipo2}}</h2>
    </div>

</div>

<div>
    <div *ngIf="strikeCount >= 1" class="strike">X</div>
    <div *ngIf="strikeCount >= 2" class="strike">X</div>
    <div *ngIf="strikeCount >= 3" class="strike">X</div>
</div>

<button (click)="getNextQuestion()"> Next Question</button>
<button (click)="resetGame()"> Reset</button>
<button (click)="incrementStrikeCount()"> Increment Strike</button>
<button (click)="resetStrikeCount()"> Reset Strike</button>
