.pregunta {
    color: white;
    font-weight: bold;
    font-size: 1.8rem;
    margin: 15px auto ;
    width: fit-content;
}
.dashboard{
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    background-color: indianred;
    margin-top: 125px;
}
.puntos {
    background-color: white;
    padding: 20px;
    text-align: center;
    max-height: 50px;
    max-width: 60px;
    margin: auto 10px;
}
.strike{
    color: red;
    font-size: 48px;
}
.respuesta{
    background-color: #646cff;
}
