.pregunta {
    color: white;
    font-weight: bold;
    font-size: 1.8rem;
    margin: 15px auto ;
    width: fit-content;
}
.dashboard{
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    margin-top: 125px;
}
.puntos {
    background-color: white;
    padding: 20px;
    text-align: center;
    max-height: 50px;
    max-width: 60px;
    margin: auto 10px;
}
.strike{
    display: inline-block;
    background-color: black;
    height: 128px;
    width: 128px;
    margin: 30px;
    border: 10px solid #F9B233;
    border-radius: 15px;

}
.strike span{
    color: red;
    font-size: 110px;
    position: relative;
    top: 60px;
    left: 30px;
}
.strike:first-of-type{
    margin-left: 35%;
}
.respuesta{
    background-color: #253D73;
    border-radius: 15px;
    border: 10px solid #F9B233;
    margin: 25px 10px   ;
}
